.small-card {
  background: linear-gradient(135deg, #007bff, #004085);
  border-radius: 10px;
  padding: 15px;
}

.small-card h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.small-card label {
  font-size: 14px;
}

.small-card .form-select {
  background-color: #ffffff;
  color: #000;
  font-size: 14px;
}

.small-card .card-header {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  text-transform: uppercase;
}

.small-card .table th,
.small-card .table td {
  color: #ffffff;
  font-size: 14px;
}
